In [2]:
%matplotlib inline
import pandas as pd
import numpy as np
import sklearn as sk
import matplotlib.pyplot as plt
import seaborn as sns

rainNiwa = pd.read_csv('data/niwaDailyData/RainDaily.csv')
rainNiwa.head()

,Station,Date(NZST),Amount(mm),SofG,Deficit(mm),Runoff(mm),Period(Hrs),Freq
0,3925,20090101:0800,25.0,-,15.5,0.0,24,D
1,3925,20090102:0800,0.2,-,19.6,0.0,24,D
2,3925,20090103:0800,38.4,-,0.0,14.5,24,D
3,3925,20090104:0800,0.6,-,3.7,0.0,24,D
4,3925,20090105:0800,0.0,-,8.1,0.0,24,D

In [3]:
pressure = pd.read_csv('data/niwaDailyData/Pressure_9am_only.csv')
pressure.head()

,Station,Date(NZST),Pmsl(hPa),Pstn(hPa),tend,amt(hPa),a24(hPa)
0,3925,20090101:0800,1007.0,983.6,-,-,-
1,3925,20090102:0800,1012.3,988.5,-,-,-
2,3925,20090103:0800,1009.0,985.5,-,-,-
3,3925,20090104:0800,1022.2,998.1,-,-,-
4,3925,20090105:0800,1022.5,998.6,-,-,-