# Import the libraries

In [120]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Import the dataset

In [121]:
pressure = pd.read_csv("../niwa_cleaned/Pressure_9am_only.csv", parse_dates=['Date(NZST)'])
pressure.head()

  Date(NZST)  Pmsl(hPa) Pstn(hPa)
0 2009-01-01     1007.0     983.6
1 2009-01-02     1012.3     988.5
2 2009-01-03     1009.0     985.5
3 2009-01-04     1022.2     998.1
4 2009-01-05     1022.5     998.6

In [122]:
pressure.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5351 entries, 0 to 5350
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date(NZST)  5351 non-null   datetime64[ns]
 1   Pmsl(hPa)   5351 non-null   float64
 2   Pstn(hPa)   5351 non-null   object
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 125.5+ KB

In [123]:
radiation = pd.read_csv("../niwa_cleaned/Radiation_Daily_Global.csv", parse_dates=['Date(NZST)'])
radiation.head()

  Date(NZST)  Radiation(MJ/m2)
0 2009-07-19              3.85
1 2009-07-20              4.64
2 2009-07-21              1.87
3 2009-07-22              3.23
4 2009-07-23              0.77

In [124]:
radiation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5099 entries, 0 to 5098
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date(NZST)        5099 non-null   datetime64[ns]
 1   Radiation(MJ/m2)  5099 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 79.8 KB

In [125]:
rainBreakpoint = pd.read_csv("../niwa_cleaned/RainBreakpointsfromRainRate.csv")
rainBreakpoint.head()

   Station Date(NZST)_Incl_secs Amount(mm)  Period(min) Freq
0     3925      20090101:000830          0          8.5  BPS
1     3925      20090101:002330       0.16         15.0  BPS
2     3925      20090101:011112          0         47.7  BPS
3     3925      20090101:012236       0.12         11.4  BPS
4     3925      20090101:020436          0         42.0  BPS

In [126]:
rainBreakpoint['Date(NZST)'] = pd.to_datetime(rainBreakpoint['Date(NZST)_Incl_secs'], format='%Y%m%d:%H%M%S').dt.date
breakpoint = rainBreakpoint[['Date(NZST)', 'Amount(mm)', 'Period(min)']]
print(breakpoint)

       Date(NZST) Amount(mm)  Period(min)
0      2009-01-01          0          8.5
1      2009-01-01       0.16         15.0
2      2009-01-01          0         47.7
3      2009-01-01       0.12         11.4
4      2009-01-01          0         42.0
...           ...        ...          ...
84557  2023-08-18       0.12          4.3
84558  2023-08-18       0.08         32.9
84559  2023-08-19          0       1629.4
84560  2023-08-19       -0.1         60.0
84561  2023-08-28          -      12420.0

[84562 rows x 3 columns]

In [127]:
breakpoint['Date(NZST)'] = breakpoint['Date(NZST)'].astype('datetime64[ns]')
print(breakpoint)

      Date(NZST) Amount(mm)  Period(min)
0     2009-01-01          0          8.5
1     2009-01-01       0.16         15.0
2     2009-01-01          0         47.7
3     2009-01-01       0.12         11.4
4     2009-01-01          0         42.0
...          ...        ...          ...
84557 2023-08-18       0.12          4.3
84558 2023-08-18       0.08         32.9
84559 2023-08-19          0       1629.4
84560 2023-08-19       -0.1         60.0
84561 2023-08-28          -      12420.0

[84562 rows x 3 columns]

C:\Users\yingg\AppData\Local\Temp\ipykernel_17300\3532754350.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  breakpoint['Date(NZST)'] = breakpoint['Date(NZST)'].astype('datetime64[ns]')

In [128]:
breakpoint.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84562 entries, 0 to 84561
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date(NZST)   84562 non-null  datetime64[ns]
 1   Amount(mm)   84562 non-null  object
 2   Period(min)  84562 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 1.9+ MB

In [129]:
breakpoint['Amount(mm)'] = pd.to_numeric(breakpoint['Amount(mm)'], errors='coerce')
breakpoint.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84562 entries, 0 to 84561
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date(NZST)   84562 non-null  datetime64[ns]
 1   Amount(mm)   84549 non-null  float64
 2   Period(min)  84562 non-null  float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 1.9 MB

C:\Users\yingg\AppData\Local\Temp\ipykernel_17300\1083804610.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  breakpoint['Amount(mm)'] = pd.to_numeric(breakpoint['Amount(mm)'], errors='coerce')

In [130]:
raindaily = pd.read_csv("../niwa_cleaned/RainDaily.csv", parse_dates=['Date(NZST)'])
raindaily.head()

  Date(NZST)  Rainfall(mm)  Deficit(mm)
0 2009-01-01          25.0         15.5
1 2009-01-02           0.2         19.6
2 2009-01-03          38.4          0.0
3 2009-01-04           0.6          3.7
4 2009-01-05           0.0          8.1

In [131]:
raindaily.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5352 entries, 0 to 5351
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date(NZST)    5352 non-null   datetime64[ns]
 1   Rainfall(mm)  5352 non-null   float64
 2   Deficit(mm)   5352 non-null   float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 125.6 KB

In [132]:
soilMoisture = pd.read_csv("../niwa_cleaned/soil.csv", parse_dates=['Date(NZST)'])
soilMoisture.head()

  Date(NZST)  SoilMoisture(%)
0 2009-01-01             53.3
1 2009-01-01             52.9
2 2009-01-01             52.9
3 2009-01-01             52.8
4 2009-01-01             52.7

In [133]:
soilMoisture.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date(NZST)       40000 non-null  datetime64[ns]
 1   SoilMoisture(%)  40000 non-null  float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 625.1 KB

In [134]:
sunshine = pd.read_csv("../niwa_cleaned/SunshineDaily.csv", parse_dates=['Date(NZST)'])
sunshine.head()

  Date(NZST)  Sunshine(Hrs)  Period(Hrs) Freq
0 2009-01-01            9.4           24    D
1 2009-01-02            4.4           24    D
2 2009-01-03            6.3           24    D
3 2009-01-04            7.5           24    D
4 2009-01-05            9.9           24    D

In [135]:
sunshine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5349 entries, 0 to 5348
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date(NZST)     5349 non-null   datetime64[ns]
 1   Sunshine(Hrs)  5349 non-null   float64
 2   Period(Hrs)    5349 non-null   int64
 3   Freq           5349 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 167.3+ KB

In [136]:
sunshine.drop(columns=['Period(Hrs)','Freq'], inplace=True)
sunshine.head()

  Date(NZST)  Sunshine(Hrs)
0 2009-01-01            9.4
1 2009-01-02            4.4
2 2009-01-03            6.3
3 2009-01-04            7.5
4 2009-01-05            9.9

In [137]:
surfacewind = pd.read_csv("../niwa_cleaned/SurfaceWind9am.csv", parse_dates=['Date(NZST)'])
surfacewind.head()

  Date(NZST)  WindDir(DegT)  Speed(m/s)  WindDir StdDev  WindSpd StdDev
0 2009-01-01            242         1.0              74             0.8
1 2009-01-02             28         0.7              79             0.6
2 2009-01-03            214         0.6              22             0.5
3 2009-01-04            304         0.8              34             0.4
4 2009-01-05            101         1.7              23             0.5

In [138]:
surfacewind.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5341 entries, 0 to 5340
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date(NZST)      5341 non-null   datetime64[ns]
 1   WindDir(DegT)   5341 non-null   int64
 2   Speed(m/s)      5341 non-null   float64
 3   WindDir StdDev  5341 non-null   int64
 4   WindSpd StdDev  5341 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(2)
memory usage: 208.8 KB

In [139]:
temperature = pd.read_csv("../niwa_cleaned/TemperatureMaxMinDaily.csv", parse_dates=['Date(NZST)'])
temperature.head()

  Date(NZST) Tmax(C) Tmin(C) Tgmin(C) Tmean(C)
0 2019-01-01    25.6    14.3     12.5       20
1 2019-01-02    26.9    16.6     15.8     21.8
2 2019-01-03    24.8      16     13.2     20.4
3 2019-01-04    23.1    13.3     10.2     18.2
4 2019-01-05    22.1     8.4      5.4     15.3

In [140]:
temperature.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1697 entries, 0 to 1696
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date(NZST)  1697 non-null   datetime64[ns]
 1   Tmax(C)     1697 non-null   object
 2   Tmin(C)     1697 non-null   object
 3   Tgmin(C)    1697 non-null   object
 4   Tmean(C)    1697 non-null   object
dtypes: datetime64[ns](1), object(4)
memory usage: 66.4+ KB

In [141]:
temperature[['Tmax(C)', 'Tmin(C)', 'Tgmin(C)', 'Tmean(C)']] = temperature[['Tmax(C)', 'Tmin(C)', 'Tgmin(C)', 'Tmean(C)']].apply(pd.to_numeric, errors='coerce')
temperature.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1697 entries, 0 to 1696
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date(NZST)  1697 non-null   datetime64[ns]
 1   Tmax(C)     1680 non-null   float64
 2   Tmin(C)     1681 non-null   float64
 3   Tgmin(C)    1696 non-null   float64
 4   Tmean(C)    1672 non-null   float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 66.4 KB

In [142]:
temperature.head()

  Date(NZST)  Tmax(C)  Tmin(C)  Tgmin(C)  Tmean(C)
0 2019-01-01     25.6     14.3      12.5      20.0
1 2019-01-02     26.9     16.6      15.8      21.8
2 2019-01-03     24.8     16.0      13.2      20.4
3 2019-01-04     23.1     13.3      10.2      18.2
4 2019-01-05     22.1      8.4       5.4      15.3

In [143]:
temperatureScreenObservation = pd.read_csv("../niwa_cleaned/TemperatureScreenObs9amOnly.csv", parse_dates=['Date(NZST)'])
temperatureScreenObservation.head()

,Date(NZST),Tair(C),Twet(C),RH(%),Tdew(C),Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,2009-01-01,14.6,13.2,85,12.1,NaN,NaN,NaN,NaN,NaN,NaN
1,2009-01-02,11.5,10.3,85,9.1,NaN,NaN,NaN,NaN,NaN,NaN
2,2009-01-03,13.4,12.6,91,12,NaN,NaN,NaN,NaN,NaN,NaN
3,2009-01-04,10.6,9.6,87,8.5,NaN,NaN,NaN,NaN,NaN,NaN
4,2009-01-05,12.4,10.3,75,8.1,NaN,NaN,NaN,NaN,NaN,NaN

In [144]:
temperatureScreenObservation[['Tair(C)', 'Twet(C)', 'RH(%)', 'Tdew(C)']] = temperatureScreenObservation[['Tair(C)', 'Twet(C)', 'RH(%)', 'Tdew(C)']].apply(pd.to_numeric, errors='coerce')
temperatureScreenObservation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30847 entries, 0 to 30846
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date(NZST)   5316 non-null   datetime64[ns]
 1   Tair(C)      30808 non-null  float64
 2   Twet(C)      30700 non-null  float64
 3   RH(%)        10503 non-null  float64
 4   Tdew(C)      10503 non-null  float64
 5   Unnamed: 5   5312 non-null   object
 6   Unnamed: 6   5312 non-null   object
 7   Unnamed: 7   5312 non-null   object
 8   Unnamed: 8   5312 non-null   object
 9   Unnamed: 9   5312 non-null   object
 10  Unnamed: 10  5312 non-null   object
dtypes: datetime64[ns](1), float64(4), object(6)
memory usage: 2.6+ MB

In [145]:
temperatureScreenObservation.drop(columns=['Unnamed: 5','Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10'], inplace=True)
temperatureScreenObservation.head()

  Date(NZST)  Tair(C)  Twet(C)  RH(%)  Tdew(C)
0 2009-01-01     14.6     13.2   85.0     12.1
1 2009-01-02     11.5     10.3   85.0      9.1
2 2009-01-03     13.4     12.6   91.0     12.0
3 2009-01-04     10.6      9.6   87.0      8.5
4 2009-01-05     12.4     10.3   75.0      8.1

In [146]:
temperatureScreenObservation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30847 entries, 0 to 30846
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date(NZST)  5316 non-null   datetime64[ns]
 1   Tair(C)     30808 non-null  float64
 2   Twet(C)     30700 non-null  float64
 3   RH(%)       10503 non-null  float64
 4   Tdew(C)     10503 non-null  float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 1.2 MB

In [147]:
windMaxgust = pd.read_csv("../niwa_cleaned/WindMaxGustDaily.csv", parse_dates=['Date(NZST)'])
windMaxgust.head()

  Date(NZST) Dir(DegT)  Speed(m/s)
0 2009-01-01       275         9.3
1 2009-01-02        44        11.8
2 2009-01-03        13        11.8
3 2009-01-04       190         7.7
4 2009-01-05       185         7.2

In [148]:
windMaxgust.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5337 entries, 0 to 5336
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date(NZST)  5337 non-null   datetime64[ns]
 1   Dir(DegT)   5337 non-null   object
 2   Speed(m/s)  5337 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 125.2+ KB

In [191]:
# List of DataFrames to merge
data_frames = [pressure, breakpoint, raindaily, soilMoisture, sunshine, surfacewind, temperature, temperatureScreenObservation, windMaxgust]

# Merge the data
niwaData = pressure.merge(breakpoint, on='Date(NZST)')
niwaData = niwaData.merge(raindaily, on='Date(NZST)')
niwaData = niwaData.merge(soilMoisture, on='Date(NZST)')
niwaData = niwaData.merge(sunshine, on='Date(NZST)')
niwaData = niwaData.merge(surfacewind, on='Date(NZST)')
# niwaData = niwaData.merge(temperature, on='Date(NZST)')
# niwaData = niwaData.merge(temperatureScreenObservation, on='Date(NZST)')
niwaData = niwaData.merge(windMaxgust, on='Date(NZST)')
niwaData

,Date(NZST),Pmsl(hPa),Pstn(hPa),Amount(mm),Period(min),Rainfall(mm),Deficit(mm),SoilMoisture(%),Sunshine(Hrs),WindDir(DegT),Speed(m/s)_x,WindDir StdDev,WindSpd StdDev,Dir(DegT),Speed(m/s)_y
0,2009-01-01,1007.0,983.6,0.00,8.5,25.0,15.5,53.3,9.4,242,1.0,74,0.8,275,9.3
1,2009-01-01,1007.0,983.6,0.00,8.5,25.0,15.5,52.9,9.4,242,1.0,74,0.8,275,9.3
2,2009-01-01,1007.0,983.6,0.00,8.5,25.0,15.5,52.9,9.4,242,1.0,74,0.8,275,9.3
3,2009-01-01,1007.0,983.6,0.00,8.5,25.0,15.5,52.8,9.4,242,1.0,74,0.8,275,9.3
4,2009-01-01,1007.0,983.6,0.00,8.5,25.0,15.5,52.7,9.4,242,1.0,74,0.8,275,9.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595741,2013-08-09,1020.4,996.3,0.32,9.7,5.6,0.0,37.0,0.9,241,0.5,0,0.3,353,4.6
595742,2013-08-09,1020.4,996.3,0.32,9.7,5.6,0.0,37.0,0.9,241,0.5,0,0.3,353,4.6
595743,2013-08-09,1020.4,996.3,0.32,9.7,5.6,0.0,36.9,0.9,241,0.5,0,0.3,353,4.6
595744,2013-08-09,1020.4,996.3,0.32,9.7,5.6,0.0,37.7,0.9,241,0.5,0,0.3,353,4.6
595745,2013-08-09,1020.4,996.3,0.32,9.7,5.6,0.0,38.3,0.9,241,0.5,0,0.3,353,4.6

In [150]:
niwaData.isna().sum()

Date(NZST)          0
Pmsl(hPa)           0
Pstn(hPa)           0
Amount(mm)         48
Period(min)         0
Rainfall(mm)        0
Deficit(mm)         0
SoilMoisture(%)     0
Sunshine(Hrs)       0
WindDir(DegT)       0
Speed(m/s)_x        0
WindDir StdDev      0
WindSpd StdDev      0
Dir(DegT)           0
Speed(m/s)_y        0
dtype: int64

In [151]:
niwaData.head()

,Date(NZST),Pmsl(hPa),Pstn(hPa),Amount(mm),Period(min),Rainfall(mm),Deficit(mm),SoilMoisture(%),Sunshine(Hrs),WindDir(DegT),Speed(m/s)_x,WindDir StdDev,WindSpd StdDev,Dir(DegT),Speed(m/s)_y
0,2009-01-01,1007.0,983.6,0.0,8.5,25.0,15.5,53.3,9.4,242,1.0,74,0.8,275,9.3
1,2009-01-01,1007.0,983.6,0.0,8.5,25.0,15.5,52.9,9.4,242,1.0,74,0.8,275,9.3
2,2009-01-01,1007.0,983.6,0.0,8.5,25.0,15.5,52.9,9.4,242,1.0,74,0.8,275,9.3
3,2009-01-01,1007.0,983.6,0.0,8.5,25.0,15.5,52.8,9.4,242,1.0,74,0.8,275,9.3
4,2009-01-01,1007.0,983.6,0.0,8.5,25.0,15.5,52.7,9.4,242,1.0,74,0.8,275,9.3

In [152]:
niwaData.shape

(595746, 15)

In [153]:
# # Merge the filtered DataFrames:
# niwaData = pd.merge(data_frames[0], data_frames[1], on='Date(NZST)')

# for df in data_frames[2:]:
#     niwaData = pd.merge(niwaData, df, on='Date(NZST)', how='inner')

In [154]:
niwaData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 595746 entries, 0 to 595745
Data columns (total 15 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Date(NZST)       595746 non-null  datetime64[ns]
 1   Pmsl(hPa)        595746 non-null  float64
 2   Pstn(hPa)        595746 non-null  object
 3   Amount(mm)       595698 non-null  float64
 4   Period(min)      595746 non-null  float64
 5   Rainfall(mm)     595746 non-null  float64
 6   Deficit(mm)      595746 non-null  float64
 7   SoilMoisture(%)  595746 non-null  float64
 8   Sunshine(Hrs)    595746 non-null  float64
 9   WindDir(DegT)    595746 non-null  int64
 10  Speed(m/s)_x     595746 non-null  float64
 11  WindDir StdDev   595746 non-null  int64
 12  WindSpd StdDev   595746 non-null  float64
 13  Dir(DegT)        595746 non-null  object
 14  Speed(m/s)_y     595746 non-null  float64
dtypes: datetime64[ns](1), float64(10), int64(2), object(2)
memory usage: 68.2+ MB

In [155]:
niwaData.head(10)

,Date(NZST),Pmsl(hPa),Pstn(hPa),Amount(mm),Period(min),Rainfall(mm),Deficit(mm),SoilMoisture(%),Sunshine(Hrs),WindDir(DegT),Speed(m/s)_x,WindDir StdDev,WindSpd StdDev,Dir(DegT),Speed(m/s)_y
0,2009-01-01,1007.0,983.6,0.0,8.5,25.0,15.5,53.3,9.4,242,1.0,74,0.8,275,9.3
1,2009-01-01,1007.0,983.6,0.0,8.5,25.0,15.5,52.9,9.4,242,1.0,74,0.8,275,9.3
2,2009-01-01,1007.0,983.6,0.0,8.5,25.0,15.5,52.9,9.4,242,1.0,74,0.8,275,9.3
3,2009-01-01,1007.0,983.6,0.0,8.5,25.0,15.5,52.8,9.4,242,1.0,74,0.8,275,9.3
4,2009-01-01,1007.0,983.6,0.0,8.5,25.0,15.5,52.7,9.4,242,1.0,74,0.8,275,9.3
5,2009-01-01,1007.0,983.6,0.0,8.5,25.0,15.5,52.6,9.4,242,1.0,74,0.8,275,9.3
6,2009-01-01,1007.0,983.6,0.0,8.5,25.0,15.5,52.9,9.4,242,1.0,74,0.8,275,9.3
7,2009-01-01,1007.0,983.6,0.0,8.5,25.0,15.5,53.0,9.4,242,1.0,74,0.8,275,9.3
8,2009-01-01,1007.0,983.6,0.0,8.5,25.0,15.5,52.9,9.4,242,1.0,74,0.8,275,9.3
9,2009-01-01,1007.0,983.6,0.0,8.5,25.0,15.5,53.1,9.4,242,1.0,74,0.8,275,9.3

# Taking care of missing data

In [156]:
niwaData.isna().sum()

Date(NZST)          0
Pmsl(hPa)           0
Pstn(hPa)           0
Amount(mm)         48
Period(min)         0
Rainfall(mm)        0
Deficit(mm)         0
SoilMoisture(%)     0
Sunshine(Hrs)       0
WindDir(DegT)       0
Speed(m/s)_x        0
WindDir StdDev      0
WindSpd StdDev      0
Dir(DegT)           0
Speed(m/s)_y        0
dtype: int64

In [157]:
# Amount(mm) (Rainfall) --> filling NaN values with 0, which makes sense if NaN indicates no rainfall.
niwaData['Amount(mm)'].fillna(0, inplace=True)

In [158]:
niwaData.isna().sum()

Date(NZST)         0
Pmsl(hPa)          0
Pstn(hPa)          0
Amount(mm)         0
Period(min)        0
Rainfall(mm)       0
Deficit(mm)        0
SoilMoisture(%)    0
Sunshine(Hrs)      0
WindDir(DegT)      0
Speed(m/s)_x       0
WindDir StdDev     0
WindSpd StdDev     0
Dir(DegT)          0
Speed(m/s)_y       0
dtype: int64

In [159]:
# # Sunshine(Hrs) --> Since sunshine hours are typically positive values, filling NaN with 0 might not be appropriate. So we will fill with the median
# niwaData['Sunshine(Hrs)'].fillna(niwaData['Sunshine(Hrs)'].median(), inplace=True)

In [160]:
# # SoilMoisture(%) --> Filling NaN with the mean or median is a common approach
# niwaData['SoilMoisture(%)'].fillna(niwaData['SoilMoisture(%)'].mean(), inplace=True)

In [161]:
# # Tmax(C), Tmin(C), Tgmin(C), Tmean(C) --> For temperature values, filling NaN with 0 might not be meaningful. consider using the mean or median
# cols_to_fill_temp = ['Tmax(C)', 'Tmin(C)', 'Tgmin(C)', 'Tmean(C)']
# niwaData[cols_to_fill_temp] = niwaData[cols_to_fill_temp].apply(lambda x: x.fillna(x.mean()), axis=0)

In [162]:
# # WindDir(DegT) --> Wind direction in Degree has a circular nature (i.e., 360 degrees represents the same direction as 0 degrees), to use circular statistics to fill in missing values. However, a simple approach could be to fill NaN with the mean direction
# niwaData['WindDir(DegT)'].fillna(niwaData['WindDir(DegT)'].mean(), inplace=True)

In [163]:
# # Speed(m/s)_x --> Similar to temperature, filling NaN with 0 might not be appropriate. Using the mean or median
# niwaData['Speed(m/s)_x'].fillna(niwaData['Speed(m/s)_x'].mean(), inplace=True)

In [164]:
# # WindDir StdDev and WindSpd StdDev -->  standard deviations,  filling NaN with 0 if these values are expected to be positive:
# niwaData['WindDir StdDev'].fillna(0, inplace=True)
# niwaData['WindSpd StdDev'].fillna(0, inplace=True)

In [165]:
# niwaData['Rainfall(mm)'].fillna(0, inplace=True)
# niwaData['Period(min)'].fillna(0, inplace=True)
# niwaData['Deficit(mm)'].fillna(0, inplace=True)

In [166]:
# # Pmsl(hPa) and Pstn(hPa) --> For pressure values, it might make sense to fill NaN with the mean or median:
# niwaData['Pmsl(hPa)'].fillna(niwaData['Pmsl(hPa)'].mean(), inplace=True)

In [167]:
# niwaData['Pstn(hPa)'].fillna(niwaData['Pstn(hPa)'].mean(), inplace=True)

In [168]:
# niwaData['Tair(C)'].fillna(niwaData['Tair(C)'].mean(), inplace=True)
# niwaData['Twet(C)'].fillna(niwaData['Twet(C)'].mean(), inplace=True)

# niwaData['RH(%)'].fillna(niwaData['RH(%)'].mean(), inplace=True)
# niwaData['Tdew(C)'].fillna(niwaData['Tdew(C)'].mean(), inplace=True)

# niwaData['Dir(DegT)'].fillna(0, inplace=True)  # Fill with a specific value (e.g., 0)
# niwaData['Speed(m/s)_y'].fillna(niwaData['Speed(m/s)_y'].mean(), inplace=True)

In [169]:
# niwaData.isna().sum()

In [170]:
# niwaData['Date(NZST)'].isna()

In [171]:
niwaData.describe()

,Date(NZST),Pmsl(hPa),Amount(mm),Period(min),Rainfall(mm),Deficit(mm),SoilMoisture(%),Sunshine(Hrs),WindDir(DegT),Speed(m/s)_x,WindDir StdDev,WindSpd StdDev,Speed(m/s)_y
count,595746,595746.000000,595746.000000,595746.000000,595746.000000,595746.000000,595746.000000,595746.000000,595746.000000,595746.000000,595746.000000,595746.000000,595746.000000
mean,2011-06-17 23:03:40.841767936,1008.619876,0.216886,96.627367,14.061040,16.009847,51.212412,1.794258,161.749480,1.578347,36.413670,0.728513,8.973419
min,2009-01-01 00:00:00,983.100000,-26.400000,0.100000,0.000000,0.000000,18.300000,0.000000,0.000000,0.000000,0.000000,0.000000,2.100000
25%,2010-04-16 00:00:00,1003.200000,0.040000,4.300000,1.400000,0.000000,47.900000,0.100000,46.000000,0.700000,22.000000,0.400000,6.700000
50%,2011-07-12 00:00:00,1008.800000,0.160000,8.800000,10.200000,0.000000,52.600000,1.000000,139.000000,1.100000,32.000000,0.600000,8.800000
75%,2012-08-26 00:00:00,1014.600000,0.370000,18.200000,20.600000,24.100000,56.700000,2.500000,285.000000,2.000000,48.000000,0.900000,11.300000
max,2013-08-09 00:00:00,1038.300000,8.200000,43291.800000,94.600000,135.700000,65.600000,13.100000,360.000000,6.600000,95.000000,2.300000,18.500000
std,NaN,8.644026,0.614274,715.228183,15.782516,27.587652,8.022034,2.174294,115.580954,1.305933,21.711852,0.418295,3.235748

In [173]:
niwaData.set_index('Date(NZST)', inplace=True)

In [179]:
niwaData.describe()

,Pmsl(hPa),Amount(mm),Period(min),Rainfall(mm),Deficit(mm),SoilMoisture(%),Sunshine(Hrs),WindDir(DegT),Speed(m/s)_x,WindDir StdDev,WindSpd StdDev,Speed(m/s)_y
count,595746.000000,595746.000000,595746.000000,595746.000000,595746.000000,595746.000000,595746.000000,595746.000000,595746.000000,595746.000000,595746.000000,595746.000000
mean,1008.619876,0.216886,96.627367,14.061040,16.009847,51.212412,1.794258,161.749480,1.578347,36.413670,0.728513,8.973419
std,8.644026,0.614274,715.228183,15.782516,27.587652,8.022034,2.174294,115.580954,1.305933,21.711852,0.418295,3.235748
min,983.100000,-26.400000,0.100000,0.000000,0.000000,18.300000,0.000000,0.000000,0.000000,0.000000,0.000000,2.100000
25%,1003.200000,0.040000,4.300000,1.400000,0.000000,47.900000,0.100000,46.000000,0.700000,22.000000,0.400000,6.700000
50%,1008.800000,0.160000,8.800000,10.200000,0.000000,52.600000,1.000000,139.000000,1.100000,32.000000,0.600000,8.800000
75%,1014.600000,0.370000,18.200000,20.600000,24.100000,56.700000,2.500000,285.000000,2.000000,48.000000,0.900000,11.300000
max,1038.300000,8.200000,43291.800000,94.600000,135.700000,65.600000,13.100000,360.000000,6.600000,95.000000,2.300000,18.500000

In [185]:
niwaData.merge(temperature, on='Date(NZST)')
niwaData.head()

,Pmsl(hPa),Pstn(hPa),Amount(mm),Period(min),Rainfall(mm),Deficit(mm),SoilMoisture(%),Sunshine(Hrs),WindDir(DegT),Speed(m/s)_x,WindDir StdDev,WindSpd StdDev,Dir(DegT),Speed(m/s)_y
Date(NZST),,,,,,,,,,,,,,
2009-01-01,1007.0,983.6,0.0,8.5,25.0,15.5,53.3,9.4,242,1.0,74,0.8,275,9.3
2009-01-01,1007.0,983.6,0.0,8.5,25.0,15.5,52.9,9.4,242,1.0,74,0.8,275,9.3
2009-01-01,1007.0,983.6,0.0,8.5,25.0,15.5,52.9,9.4,242,1.0,74,0.8,275,9.3
2009-01-01,1007.0,983.6,0.0,8.5,25.0,15.5,52.8,9.4,242,1.0,74,0.8,275,9.3
2009-01-01,1007.0,983.6,0.0,8.5,25.0,15.5,52.7,9.4,242,1.0,74,0.8,275,9.3

# Encoding categorical data

# Encoding the independent variable

# Encoding the Dependent Variable

# Splitting the dataset into the Training set and Test Set

# Feature Scaling