# Import the libraries

In [267]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Import the dataset

In [268]:
pressure = pd.read_csv("../niwa_cleaned/Pressure_9am_only.csv", parse_dates=['Date(NZST)'])
pressure.head()

  Date(NZST)  Pmsl(hPa) Pstn(hPa)
0 2009-01-01     1007.0     983.6
1 2009-01-02     1012.3     988.5
2 2009-01-03     1009.0     985.5
3 2009-01-04     1022.2     998.1
4 2009-01-05     1022.5     998.6

In [269]:
pressure.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5351 entries, 0 to 5350
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date(NZST)  5351 non-null   datetime64[ns]
 1   Pmsl(hPa)   5351 non-null   float64
 2   Pstn(hPa)   5351 non-null   object
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 125.5+ KB

In [270]:
radiation = pd.read_csv("../niwa_cleaned/Radiation_Daily_Global.csv", parse_dates=['Date(NZST)'])
radiation.head()

  Date(NZST)  Radiation(MJ/m2)
0 2009-07-19              3.85
1 2009-07-20              4.64
2 2009-07-21              1.87
3 2009-07-22              3.23
4 2009-07-23              0.77

In [271]:
radiation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5099 entries, 0 to 5098
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date(NZST)        5099 non-null   datetime64[ns]
 1   Radiation(MJ/m2)  5099 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 79.8 KB

In [272]:
rainBreakpoint = pd.read_csv("../niwa_cleaned/RainBreakpointsfromRainRate.csv")
rainBreakpoint.head()

   Station Date(NZST)_Incl_secs Amount(mm)  Period(min) Freq
0     3925      20090101:000830          0          8.5  BPS
1     3925      20090101:002330       0.16         15.0  BPS
2     3925      20090101:011112          0         47.7  BPS
3     3925      20090101:012236       0.12         11.4  BPS
4     3925      20090101:020436          0         42.0  BPS

In [273]:
rainBreakpoint['Date(NZST)'] = pd.to_datetime(rainBreakpoint['Date(NZST)_Incl_secs'], format='%Y%m%d:%H%M%S').dt.date
breakpoint = rainBreakpoint[['Date(NZST)', 'Amount(mm)', 'Period(min)']]
print(breakpoint)

       Date(NZST) Amount(mm)  Period(min)
0      2009-01-01          0          8.5
1      2009-01-01       0.16         15.0
2      2009-01-01          0         47.7
3      2009-01-01       0.12         11.4
4      2009-01-01          0         42.0
...           ...        ...          ...
84557  2023-08-18       0.12          4.3
84558  2023-08-18       0.08         32.9
84559  2023-08-19          0       1629.4
84560  2023-08-19       -0.1         60.0
84561  2023-08-28          -      12420.0

[84562 rows x 3 columns]

In [274]:
breakpoint['Date(NZST)'] = breakpoint['Date(NZST)'].astype('datetime64[ns]')
print(breakpoint)

      Date(NZST) Amount(mm)  Period(min)
0     2009-01-01          0          8.5
1     2009-01-01       0.16         15.0
2     2009-01-01          0         47.7
3     2009-01-01       0.12         11.4
4     2009-01-01          0         42.0
...          ...        ...          ...
84557 2023-08-18       0.12          4.3
84558 2023-08-18       0.08         32.9
84559 2023-08-19          0       1629.4
84560 2023-08-19       -0.1         60.0
84561 2023-08-28          -      12420.0

[84562 rows x 3 columns]

C:\Users\yingg\AppData\Local\Temp\ipykernel_10760\3532754350.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  breakpoint['Date(NZST)'] = breakpoint['Date(NZST)'].astype('datetime64[ns]')

In [275]:
breakpoint.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84562 entries, 0 to 84561
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date(NZST)   84562 non-null  datetime64[ns]
 1   Amount(mm)   84562 non-null  object
 2   Period(min)  84562 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 1.9+ MB

In [276]:
breakpoint['Amount(mm)'] = pd.to_numeric(breakpoint['Amount(mm)'], errors='coerce')
breakpoint.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84562 entries, 0 to 84561
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date(NZST)   84562 non-null  datetime64[ns]
 1   Amount(mm)   84549 non-null  float64
 2   Period(min)  84562 non-null  float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 1.9 MB

C:\Users\yingg\AppData\Local\Temp\ipykernel_10760\1083804610.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  breakpoint['Amount(mm)'] = pd.to_numeric(breakpoint['Amount(mm)'], errors='coerce')

In [277]:
raindaily = pd.read_csv("../niwa_cleaned/RainDaily.csv", parse_dates=['Date(NZST)'])
raindaily.head()

  Date(NZST)  Rainfall(mm)  Deficit(mm)
0 2009-01-01          25.0         15.5
1 2009-01-02           0.2         19.6
2 2009-01-03          38.4          0.0
3 2009-01-04           0.6          3.7
4 2009-01-05           0.0          8.1

In [278]:
raindaily.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5352 entries, 0 to 5351
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date(NZST)    5352 non-null   datetime64[ns]
 1   Rainfall(mm)  5352 non-null   float64
 2   Deficit(mm)   5352 non-null   float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 125.6 KB

In [279]:
soilMoisture = pd.read_csv("../niwa_cleaned/soil.csv", parse_dates=['Date(NZST)'])
soilMoisture.head()

  Date(NZST)  SoilMoisture(%)
0 2009-01-01             53.3
1 2009-01-01             52.9
2 2009-01-01             52.9
3 2009-01-01             52.8
4 2009-01-01             52.7

In [280]:
soilMoisture.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date(NZST)       40000 non-null  datetime64[ns]
 1   SoilMoisture(%)  40000 non-null  float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 625.1 KB

In [281]:
sunshine = pd.read_csv("../niwa_cleaned/SunshineDaily.csv", parse_dates=['Date(NZST)'])
sunshine.head()

  Date(NZST)  Sunshine(Hrs)  Period(Hrs) Freq
0 2009-01-01            9.4           24    D
1 2009-01-02            4.4           24    D
2 2009-01-03            6.3           24    D
3 2009-01-04            7.5           24    D
4 2009-01-05            9.9           24    D

In [282]:
sunshine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5349 entries, 0 to 5348
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date(NZST)     5349 non-null   datetime64[ns]
 1   Sunshine(Hrs)  5349 non-null   float64
 2   Period(Hrs)    5349 non-null   int64
 3   Freq           5349 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 167.3+ KB

In [283]:
sunshine.drop(columns=['Period(Hrs)','Freq'], inplace=True)
sunshine.head()

  Date(NZST)  Sunshine(Hrs)
0 2009-01-01            9.4
1 2009-01-02            4.4
2 2009-01-03            6.3
3 2009-01-04            7.5
4 2009-01-05            9.9

In [284]:
surfacewind = pd.read_csv("../niwa_cleaned/SurfaceWind9am.csv", parse_dates=['Date(NZST)'])
surfacewind.head()

  Date(NZST)  WindDir(DegT)  Speed(m/s)  WindDir StdDev  WindSpd StdDev
0 2009-01-01            242         1.0              74             0.8
1 2009-01-02             28         0.7              79             0.6
2 2009-01-03            214         0.6              22             0.5
3 2009-01-04            304         0.8              34             0.4
4 2009-01-05            101         1.7              23             0.5

In [285]:
surfacewind.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5341 entries, 0 to 5340
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date(NZST)      5341 non-null   datetime64[ns]
 1   WindDir(DegT)   5341 non-null   int64
 2   Speed(m/s)      5341 non-null   float64
 3   WindDir StdDev  5341 non-null   int64
 4   WindSpd StdDev  5341 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(2)
memory usage: 208.8 KB

In [286]:
temperature = pd.read_csv("../niwa_cleaned/TemperatureMaxMinDaily.csv", parse_dates=['Date(NZST)'])
temperature.head()

  Date(NZST) Tmax(C) Tmin(C) Tgmin(C) Tmean(C)
0 2019-01-01    25.6    14.3     12.5       20
1 2019-01-02    26.9    16.6     15.8     21.8
2 2019-01-03    24.8      16     13.2     20.4
3 2019-01-04    23.1    13.3     10.2     18.2
4 2019-01-05    22.1     8.4      5.4     15.3

In [287]:
temperature.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1697 entries, 0 to 1696
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date(NZST)  1697 non-null   datetime64[ns]
 1   Tmax(C)     1697 non-null   object
 2   Tmin(C)     1697 non-null   object
 3   Tgmin(C)    1697 non-null   object
 4   Tmean(C)    1697 non-null   object
dtypes: datetime64[ns](1), object(4)
memory usage: 66.4+ KB

In [288]:
temperature[['Tmax(C)', 'Tmin(C)', 'Tgmin(C)', 'Tmean(C)']] = temperature[['Tmax(C)', 'Tmin(C)', 'Tgmin(C)', 'Tmean(C)']].apply(pd.to_numeric, errors='coerce')
temperature.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1697 entries, 0 to 1696
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date(NZST)  1697 non-null   datetime64[ns]
 1   Tmax(C)     1680 non-null   float64
 2   Tmin(C)     1681 non-null   float64
 3   Tgmin(C)    1696 non-null   float64
 4   Tmean(C)    1672 non-null   float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 66.4 KB

In [289]:
temperatureScreenObservation = pd.read_csv("../niwa_cleaned/TemperatureScreenObs9amOnly.csv", parse_dates=['Date(NZST)'])
temperatureScreenObservation.head()

,Date(NZST),Tair(C),Twet(C),RH(%),Tdew(C),Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,2009-01-01,14.6,13.2,85,12.1,NaN,NaN,NaN,NaN,NaN,NaN
1,2009-01-02,11.5,10.3,85,9.1,NaN,NaN,NaN,NaN,NaN,NaN
2,2009-01-03,13.4,12.6,91,12,NaN,NaN,NaN,NaN,NaN,NaN
3,2009-01-04,10.6,9.6,87,8.5,NaN,NaN,NaN,NaN,NaN,NaN
4,2009-01-05,12.4,10.3,75,8.1,NaN,NaN,NaN,NaN,NaN,NaN

In [290]:
temperatureScreenObservation[['Tair(C)', 'Twet(C)', 'RH(%)', 'Tdew(C)']] = temperatureScreenObservation[['Tair(C)', 'Twet(C)', 'RH(%)', 'Tdew(C)']].apply(pd.to_numeric, errors='coerce')
temperatureScreenObservation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30847 entries, 0 to 30846
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date(NZST)   5316 non-null   datetime64[ns]
 1   Tair(C)      30808 non-null  float64
 2   Twet(C)      30700 non-null  float64
 3   RH(%)        10503 non-null  float64
 4   Tdew(C)      10503 non-null  float64
 5   Unnamed: 5   5312 non-null   object
 6   Unnamed: 6   5312 non-null   object
 7   Unnamed: 7   5312 non-null   object
 8   Unnamed: 8   5312 non-null   object
 9   Unnamed: 9   5312 non-null   object
 10  Unnamed: 10  5312 non-null   object
dtypes: datetime64[ns](1), float64(4), object(6)
memory usage: 2.6+ MB

In [291]:
temperatureScreenObservation.drop(columns=['Unnamed: 5','Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10'], inplace=True)
temperatureScreenObservation.head()

  Date(NZST)  Tair(C)  Twet(C)  RH(%)  Tdew(C)
0 2009-01-01     14.6     13.2   85.0     12.1
1 2009-01-02     11.5     10.3   85.0      9.1
2 2009-01-03     13.4     12.6   91.0     12.0
3 2009-01-04     10.6      9.6   87.0      8.5
4 2009-01-05     12.4     10.3   75.0      8.1

In [292]:
temperatureScreenObservation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30847 entries, 0 to 30846
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date(NZST)  5316 non-null   datetime64[ns]
 1   Tair(C)     30808 non-null  float64
 2   Twet(C)     30700 non-null  float64
 3   RH(%)       10503 non-null  float64
 4   Tdew(C)     10503 non-null  float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 1.2 MB

In [293]:
windMaxgust = pd.read_csv("../niwa_cleaned/WindMaxGustDaily.csv", parse_dates=['Date(NZST)'])
windMaxgust.head()

  Date(NZST) Dir(DegT)  Speed(m/s)
0 2009-01-01       275         9.3
1 2009-01-02        44        11.8
2 2009-01-03        13        11.8
3 2009-01-04       190         7.7
4 2009-01-05       185         7.2

In [294]:
windMaxgust.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5337 entries, 0 to 5336
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date(NZST)  5337 non-null   datetime64[ns]
 1   Dir(DegT)   5337 non-null   object
 2   Speed(m/s)  5337 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 125.2+ KB

In [315]:
# List of DataFrames to merge
data_frames = [pressure, breakpoint, raindaily, soilMoisture, sunshine, surfacewind, temperature, temperatureScreenObservation, windMaxgust]

# Merge the data
niwaData = pd.merge(data_frames[0], data_frames[1], on='Date(NZST)', how='inner')

for df in data_frames:
    print(df['Date(NZST)'].nunique())

5351
3005
5352
1669
5349
5341
1697
5316
5337

In [370]:
niwaData.shape

(0, 23)

In [353]:
# Merge the filtered DataFrames:
niwaData = pd.merge(data_frames[0], data_frames[1], on='Date(NZST)', how='inner')

for df in data_frames[2:]:
    niwaData = pd.merge(niwaData, df, on='Date(NZST)', how='inner')

In [354]:
niwaData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 23 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Pmsl(hPa)        0 non-null      float64
 1   Pstn(hPa)        0 non-null      object
 2   Amount(mm)       0 non-null      float64
 3   Period(min)      0 non-null      float64
 4   Rainfall(mm)     0 non-null      float64
 5   Deficit(mm)      0 non-null      float64
 6   SoilMoisture(%)  0 non-null      float64
 7   Sunshine(Hrs)    0 non-null      float64
 8   WindDir(DegT)    0 non-null      int64
 9   Speed(m/s)_x     0 non-null      float64
 10  WindDir StdDev   0 non-null      int64
 11  WindSpd StdDev   0 non-null      float64
 12  Tmax(C)          0 non-null      float64
 13  Tmin(C)          0 non-null      float64
 14  Tgmin(C)         0 non-null      float64
 15  Tmean(C)         0 non-null      float64
 16  Tair(C)          0 non-null      float64
 17  Twet(C)          0 non-null      float64
 18  RH(%)            0 non-null      float64
 19  Tdew(C)          0 non-null      float64
 20  Date(NZST)       0 non-null      datetime64[ns]
 21  Dir(DegT)        0 non-null      object
 22  Speed(m/s)_y     0 non-null      float64
dtypes: datetime64[ns](1), float64(18), int64(2), object(2)
memory usage: 124.0+ bytes

In [355]:
niwaData.head(10)

Empty DataFrame
Columns: [Pmsl(hPa), Pstn(hPa), Amount(mm), Period(min), Rainfall(mm), Deficit(mm), SoilMoisture(%), Sunshine(Hrs), WindDir(DegT), Speed(m/s)_x, WindDir StdDev, WindSpd StdDev, Tmax(C), Tmin(C), Tgmin(C), Tmean(C), Tair(C), Twet(C), RH(%), Tdew(C), Date(NZST), Dir(DegT), Speed(m/s)_y]
Index: []

[0 rows x 23 columns]

# Taking care of missing data

In [356]:
niwaData.isna().sum()

Pmsl(hPa)          0.0
Pstn(hPa)          0.0
Amount(mm)         0.0
Period(min)        0.0
Rainfall(mm)       0.0
Deficit(mm)        0.0
SoilMoisture(%)    0.0
Sunshine(Hrs)      0.0
WindDir(DegT)      0.0
Speed(m/s)_x       0.0
WindDir StdDev     0.0
WindSpd StdDev     0.0
Tmax(C)            0.0
Tmin(C)            0.0
Tgmin(C)           0.0
Tmean(C)           0.0
Tair(C)            0.0
Twet(C)            0.0
RH(%)              0.0
Tdew(C)            0.0
Date(NZST)         0.0
Dir(DegT)          0.0
Speed(m/s)_y       0.0
dtype: float64

In [357]:
# # Amount(mm) (Rainfall) --> filling NaN values with 0, which makes sense if NaN indicates no rainfall.
# niwaData['Amount(mm)'].fillna(0, inplace=True)

In [358]:
# # Sunshine(Hrs) --> Since sunshine hours are typically positive values, filling NaN with 0 might not be appropriate. So we will fill with the median
# niwaData['Sunshine(Hrs)'].fillna(niwaData['Sunshine(Hrs)'].median(), inplace=True)

In [359]:
# # SoilMoisture(%) --> Filling NaN with the mean or median is a common approach
# niwaData['SoilMoisture(%)'].fillna(niwaData['SoilMoisture(%)'].mean(), inplace=True)

In [360]:
# # Tmax(C), Tmin(C), Tgmin(C), Tmean(C) --> For temperature values, filling NaN with 0 might not be meaningful. consider using the mean or median
# cols_to_fill_temp = ['Tmax(C)', 'Tmin(C)', 'Tgmin(C)', 'Tmean(C)']
# niwaData[cols_to_fill_temp] = niwaData[cols_to_fill_temp].apply(lambda x: x.fillna(x.mean()), axis=0)

In [361]:
# # WindDir(DegT) --> Wind direction in Degree has a circular nature (i.e., 360 degrees represents the same direction as 0 degrees), to use circular statistics to fill in missing values. However, a simple approach could be to fill NaN with the mean direction
# niwaData['WindDir(DegT)'].fillna(niwaData['WindDir(DegT)'].mean(), inplace=True)

In [362]:
# # Speed(m/s)_x --> Similar to temperature, filling NaN with 0 might not be appropriate. Using the mean or median
# niwaData['Speed(m/s)_x'].fillna(niwaData['Speed(m/s)_x'].mean(), inplace=True)

In [363]:
# # WindDir StdDev and WindSpd StdDev -->  standard deviations,  filling NaN with 0 if these values are expected to be positive:
# niwaData['WindDir StdDev'].fillna(0, inplace=True)
# niwaData['WindSpd StdDev'].fillna(0, inplace=True)

In [364]:
# niwaData['Rainfall(mm)'].fillna(0, inplace=True)
# niwaData['Period(min)'].fillna(0, inplace=True)
# niwaData['Deficit(mm)'].fillna(0, inplace=True)

In [365]:
# # Pmsl(hPa) and Pstn(hPa) --> For pressure values, it might make sense to fill NaN with the mean or median:
# niwaData['Pmsl(hPa)'].fillna(niwaData['Pmsl(hPa)'].mean(), inplace=True)

In [366]:
# niwaData['Pstn(hPa)'].fillna(niwaData['Pstn(hPa)'].mean(), inplace=True)

In [367]:
# niwaData['Tair(C)'].fillna(niwaData['Tair(C)'].mean(), inplace=True)
# niwaData['Twet(C)'].fillna(niwaData['Twet(C)'].mean(), inplace=True)

# niwaData['RH(%)'].fillna(niwaData['RH(%)'].mean(), inplace=True)
# niwaData['Tdew(C)'].fillna(niwaData['Tdew(C)'].mean(), inplace=True)

# niwaData['Dir(DegT)'].fillna(0, inplace=True)  # Fill with a specific value (e.g., 0)
# niwaData['Speed(m/s)_y'].fillna(niwaData['Speed(m/s)_y'].mean(), inplace=True)

In [368]:
# niwaData.isna().sum()

In [369]:
# niwaData['Date(NZST)'].isna()

# Encoding categorical data

# Encoding the independent variable

# Encoding the Dependent Variable

# Splitting the dataset into the Training set and Test Set

# Feature Scaling