# Import the libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Import the dataset

In [3]:
niwadf = pd.read_csv("../niwa_cleaned/Pressure_9am_only.csv")
niwadf.head()

   Date(NZST)  Pmsl(hPa) Pstn(hPa)
0    20090101     1007.0     983.6
1    20090102     1012.3     988.5
2    20090103     1009.0     985.5
3    20090104     1022.2     998.1
4    20090105     1022.5     998.6

# Taking care of missing data

# Encoding categorical data

# Encoding the independent variable

# Encoding the Dependent Variable

# Splitting the dataset into the Training set and Test Set

# Feature Scaling